canvas{
    border: 5px solid #f883b4;
    background-color: #ffffff;
    cursor:auto;
} 
.btn2 {
    width: 80px;
    height: 50px;
    font-size: 17px;
    transition: background 0.3s;
    border-radius: 45%;
    border: 0;
}
.btn:hover {
    color: #FFFFFF;
    background: #dddddd;
}
.look{
    width: 80px;
    height: 50px;
    font-size: 17px;
    transition: background 0.3s;
    border-radius: 15%;
    border: 0;
    color: #FFFFFF;
}

.text_box{
    border: transparent;
    font: 20px Franklin Gothic Medium;
    background-color: transparent;
    position: absolute;
}